.banner {
  background: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  width: 100%;
  height: calc(100vh - var(--height-header));
  overflow: hidden;
  .container {
    height: 100%;
    position: relative;
  }
  &__wrap {
    padding-top: 150px;
    @include text(61.64px, M Bold, null, $blue-cl, null);
    h1 {
      line-height: 78px;
      width: 650px;
      padding-bottom: 50px;
    }
    &-btn {
      height: 70px;
      font-family: M Reg;
      font-size: 15px;
      display: inline-flex;
      input,
      a {
        height: 100%;
      }
      input {
        border: none;
        outline: none;
        width: 370px;
        position: relative;
        background-image: url(../img/composite.png);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position-y: 50%;
        background-position-x: 30px;
        padding-left: 60px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      a {
        color: $blue-cl;
        padding: 0px 40px;
        background-color: $yellow-cl;
        display: inline-flex;
        align-items: center;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
    &-info {
      font-family: M SemiB;
      font-size: 18px;
      position: absolute;
      bottom: 0;
      right: 15px;
      height: 70px;
      background-color: $yellow-cl;
      a {
        color: $blue-cl;
        height: 100%;
        display: inline-flex;
        align-items: center;
        padding: 0px 60px;
        &:nth-child(2) {
          padding-left: 0px;
        }
        img {
          padding-right: 30px;
        }
      }
    }
  }
  &__btnscroll {
    display: inline-flex;
    align-items: center;
    width: fit-content;
    writing-mode: tb;
    padding-top: 90px;
    span {
      @include text(12px, M Reg, normal, #818181, null);
      padding-bottom: 10px;
    }
    img {
      animation: aniMovedown 0.7s ease 0s infinite alternate none;
    }
    @keyframes aniMovedown {
      0% {
        transform: translateY(0);
      }

      100% {
        transform: translateY(20px);
      }
    }
  }
}
@include sm {
  .banner {
    height: calc(60vh - var(--height-header));
    &__wrap {
      font-size: 31.64px;
      padding-top: 40px;
      h1 {
        width: 370px;
        line-height: 50px;
      }
      &-info {
        display: none;
      }
      &-btn {
        max-width: 100%;
        height: 60px;
      }
    }
    &__btnscroll {
      padding-top: unset;
      display: flex;
      margin: 0 auto;
      margin-top: 60px;
      display: none;
      span {
        display: none;
      }
    }
  }
}
@include xs {
  .banner {
    height: calc(70vh - var(--height-header));
  }
}

.company {
  .container {
    display: flex;
  }
  &__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    .h3-title {
      padding-bottom: 70px;
    }
  }
  &__items {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    &-block {
      @include size(200px, 200px);
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      background-color: $gray-cl;
    }
  }
}
@include sm {
  .company {
    .container {
      flex-direction: column;
    }
    &__content {
      width: unset;
      padding-bottom: 40px;
      .h3-title {
        padding-bottom: 40px;
      }
    }
    &__items {
      width: unset;
      &-block {
        @include size(300px, 300px);
      }
    }
  }
}
@include xs {
  .company {
    &__items {
      gap: 15px;
      &-block {
        @include size(170px, 170px);
      }
    }
  }
}

.appartments {
  &__content {
    .h3-title {
      padding-bottom: 70px;
      width: 470px;
    }
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px 30px;
    &-block {
      cursor: pointer;
      .img {
        position: relative;
        overflow: hidden;
        padding-bottom: 380px;
        img {
          position: absolute;
          min-width: 100%;
          min-height: 100%;
          top: 50%;
          left: 50%;
          @include transform(translate(-50%, -50%) scale(1));
          @include transition($t);
          object-fit: cover;
          &:hover {
            @include transform(translate(-50%, -50%) scale(1.2));
            @include transition($t);
          }
        }
      }
    }
  }
  &__button {
    width: 250px;
    padding: 20px;
    margin: 50px auto 0px;
    background: #fff;
    text-align: center;
    @include transition($t);
    border-radius: 5px;
    cursor: pointer;
    a {
      @include text(15px, M Reg, normal, $blue-cl, null);
      font-weight: bold;
    }
    &:hover {
      background-color: $yellow-cl;
      @include transition($t);
    }
  }
}
@include sm {
  .appartments {
    &__items {
      grid-template-columns: repeat(2, 1fr);
      &-block {
        .img {
          padding-bottom: 450px;
        }
      }
    }
  }
}
@include xs {
  .appartments {
    &__content {
      .h3-title {
        max-width: 100%;
        width: 350px;
        margin: 0 auto;
        text-align: center;
      }
    }
    &__items {
      grid-template-columns: repeat(1, 1fr);
      &-block {
        &:nth-child(n + 4) {
          display: none;
        }
      }
    }
  }
}

.hiw {
  &__content {
    max-width: 420px;
    .h3-content {
      padding-top: 35px;
      padding-bottom: 70px;
    }
  }
  &__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-block {
      &:nth-child(2) {
        margin: 0px 35px;
      }
      -webkit-box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.1);
      .title {
        margin: 0px 40px;
        span {
          @include text(100px, M Bold, normal, $black-cl, uppercase);
        }
        p {
          @include text(18px, M SemiB, normal, $blue-cl, null);
        }
      }
      .content {
        padding-top: 30px;
        padding-bottom: 65px;
        margin: 0px 60px 0px 70px;
        @include transition($t);
        p {
          @include text(13px, M Reg, 30px, $blue-cl, null);
          font-weight: bold;
          padding-bottom: 15px;
        }
        a {
          @include text(13px, M Bold, normal, $blue-cl, null);
          position: relative;
          &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 2px;
            background-color: $blue-cl;
            bottom: -5px;
            left: 0;
          }
        }
      }
      &:hover {
        background-color: $yellow-cl;
        @include transition($t);
        .title > span,
        p {
          color: $white-cl;
          @include transition($t);
        }
        .content > p,
        a {
          color: $white-cl;
          @include transition($t);
          &::after {
            background-color: $white-cl;
          }
        }
      }
      &.active {
        background-color: $yellow-cl;
        @include transition($t);
        .title > span,
        p {
          color: $white-cl;
          @include transition($t);
        }
        .content > p,
        a {
          color: $white-cl;
          @include transition($t);
          &::after {
            background-color: $white-cl;
          }
        }
      }
    }
  }
}
@include sm {
  .hiw {
    &__items {
      &-block {
        .content {
          margin: 0px 40px;
          padding-bottom: 30px;
        }
      }
    }
  }
}
@include xs {
  .hiw {
    &__items {
      flex-direction: column;
      &-block {
        box-shadow: none;
        text-align: center;
        &:nth-child(2) {
          margin: 35px 0px;
        }
      }
    }
  }
}

.services {
  background-color: $white-cl !important;
  padding-bottom: 80px;
  &__title {
    .h3-content {
      max-width: 420px;
      line-height: 30px;
      padding: 25px 0px 50px;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    &-img {
      max-width: 50%;
    }
    &-descript {
      max-width: 40%;
      .h4-content {
        padding: 30px 0px 50px;
        line-height: 27px;
        &:last-child {
          padding-bottom: unset;
        }
      }
    }
  }
}
@include sm {
  .services {
    padding-bottom: 80px;
    &__content {
      flex-direction: column;
      &-img {
        max-width: 100%;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      &-descript {
        max-width: 100%;
        padding-top: 20px;
      }
    }
  }
}
@include xs {
  .services {
    &__title {
      .h3-content {
        padding: 15px 0px 40px;
      }
    }
    &__content {
      flex-direction: column;
      &-img {
        max-width: 100%;
      }
      &-descript {
        max-width: 100%;
        padding-top: 20px;
        .h4-content {
          padding: 20px 0px 30px;
        }
      }
    }
  }
}

.agents {
  background-color: $gray-cl !important;
  .h3-title {
    width: 360px;
  }
  .h3-content {
    width: 420px;
    padding: 40px 0px 60px;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    &-block {
      -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
      width: calc(100% / 3);
      cursor: pointer;
      .img {
        position: relative;
        overflow: hidden;
        padding-bottom: 365px;
        img {
          position: absolute;
          min-height: 100%;
          min-width: 100%;
          top: 50%;
          left: 50%;
          object-fit: cover;
          @include transform(translate(-50%, -50%) scale(1));
          @include transition($t);
          &:hover {
            @include transform(translate(-50%, -50%) scale(1.1));
            @include transition($t);
          }
        }
      }
      .descript {
        margin: 20px 20px 30px 20px;
        span {
          @include text(15px, M SemiB, normal, $blue-cl, null);
        }
        &-info {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-top: 15px;
          span {
            color: $yellow-cl;
          }
          .social {
            display: inline-flex;
            align-items: center;
            img {
              &:nth-child(2) {
                padding: 0px 20px;
              }
            }
          }
        }
      }
    }
  }
}
@include sm {
  .agents {
    &__items {
      &-block {
        .descript {
          text-align: center;
          &-info {
            flex-direction: column;
            .social {
              width: 100%;
              justify-content: space-evenly;
              padding-top: 20px;
            }
          }
        }
      }
    }
  }
}
@include xs {
  .agents {
    &__title {
      .h3-content {
        width: 400px;
      }
    }
    &__items {
      flex-direction: column;
      row-gap: 30px;
      &-block {
        width: unset;
        background-color: $white-cl;
      }
    }
  }
}

.awesome {
  background-color: $white-cl !important;
  &-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    &:nth-child(2) {
      flex-direction: unset;
      margin: 90px 0px;
      .awesome__title {
        text-align: right;
        .h3-title {
          width: unset;
        }
      }
    }
    &:last-child {
      align-items: unset;
      .awesome__items {
        &-button {
          display: none;
        }
      }
    }
  }
  &__title {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .h3-title {
      padding-bottom: 25px;
      width: max-content;
    }
    &-button {
      display: inline-flex;
      a {
        background-color: $blue-cl;
        @include text(18px, M SemiB, normal, $white-cl, null);
        padding: 30px 55px;
      }
    }
  }
  &__items {
    width: 50%;
    position: relative;
    &-button {
      background-color: $yellow-cl;
      display: inline-flex;
      position: absolute;
      bottom: -25px;
      left: 35px;
      a {
        @include text(18px, M SemiB, normal, $blue-cl, null);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        column-gap: 30px;
        padding: 25px 55px;
      }
    }
  }
}
@include sm {
  .awesome {
    &-wrap {
      &:last-child {
        flex-direction: column-reverse;
        .awesome__title {
          width: unset;
          padding-top: 50px;
          .h3-title {
            padding-bottom: unset;
          }
          .h3-content {
            padding: 30px 0px;
          }
          &-button {
            display: inline-flex;
            background-color: unset;
            justify-content: center;
            a {
              background-color: $blue-cl;
            }
          }
        }
        .awesome__items {
          width: unset;
          &-img {
            img {
              @include size(100%, 100%);
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}
@include xs {
  .awesome {
    .container {
      display: flex;
      flex-direction: column;
    }
    &-wrap {
      flex-direction: column-reverse;
      &:nth-child(2) {
        flex-direction: column-reverse;
        margin: 40px 0px;
        .awesome__title {
          text-align: center;
          .h3-title {
            width: 100%;
          }
        }
      }
      &:last-child {
        .awesome__title {
          padding: 20px 0px;
          &-button {
            a {
              padding: 15px 20px;
            }
          }
        }
      }
    }
    &__title {
      width: 100%;
      text-align: center;
      padding-top: 20px;
      .h3-title {
        width: 100%;
      }
    }
    &__items {
      width: 100%;
      &-button {
        bottom: 7px;
        left: 0;
        a {
          padding: 15px 20px;
        }
      }
    }
  }
}
